<header>
    <%- include('./partials/header'); %>
</header><br><br>   
    <div class="container">
        <a href="./pages/men"><img src="/img/8.webp" alt="image"></a>
        <a href="./pages/men"><img src="/img/4.webp" alt="image"></a>
        <a href="./pages/men"><img src="/img/5.webp" alt="image"></a>    
        <a href="./pages/women"><img src="/img/2.webp" alt="image"></a>
        <a href="./pages/women"><img src="/img/3.webp" alt="image"></a>
        <a href="./pages/women"><img src="/img/7.jpg" alt="image"></a>
        <a href="#"><img src="/img/1.webp" alt="image"></a>
        <a href="#"><img src="/img/6.webp" alt="image"></a>
        <a href="#"><img src="/img/9.webp" alt="image"></a>
        <a href="#"><img src="/img/10.webp" alt="image"></a>        
    </div>    
    <style>
        img{
            align-items: center;
            height: 40%;
            padding: 10px;
            position: relative;;
        }
        img:hover{
            transform: scaleX(-1);
        }
    </style>
<footer>
    <%- include('./partials/footer'); %>
</footer>