<header>
    <%- include('../partials/header'); %>
</header><br><br>
    <div class="container">
        <h2 align="center" style="color: purple;">For Her</h2>
    </div>    
<footer>
    <%- include('../partials/footer'); %>
</footer>